   div.opt_inp {
      #font            : 6px/34px Verdana, Arial, Helvetica, sans-serif;
      #background-color : LightGrey;
      background-color : Gainsboro;
      #display : inline;
      }

   span.opt_inp {
      #font            : 12px/34px Verdana, Arial, Helvetica, sans-serif;
      background-color : LightGrey;
      display : inline;
      }
     
    table.regvar {
                 border-collapse: collapse;
                 display        : block;
                 }
    table.regvar td.first {padding-left : 0px; }
    table.regvar td       {padding-left : 18px; }
    
    table.inset {
                 margin-left: 44px;
                 }
    table.inset td.first {padding-left : 0px; }
    table.inset td       {padding-left : 44px; }


    table.doccol {
                 margin-left: 2px;
                 }
    table.doccol td.first {padding-left : 0px; }
    table.doccol td       {padding-left : 18px; }
