body {background-color: #bbddff; 
      margin-left: 5%; margin-right: 5%; margin-top: 0.5in}

code.output { color : #005000 ;
              font-weight: bold ;
            }

font.prog  { font-style: italic ;
              /* font-weight: bold ; */
            }

