Attic
gfort
ifort
needwork
test
dev
tips
rawdocs
bin 
results.*
*.LOG 
*jnk*
*junk*
*JUNK*
*.tar
*.gz  
*.a
*a.4nov19
*.mod
*.old
grf
newrcs
gold
core
ifort_mods
howto-release.txt
*.dat
*.mrc
*.mrcs
*.map
