Attic
gfort
ifort
needwork
test
dev
tips
rawdocs
bin 
fftw
releases
man-raw
results.*
*.LOG 
*jnk*
*junk*
*JUNK*
*.tar  
*.a
*a.4nov19
*.mod
*.old
grf
newrcs
gold
core
ifort_mods
*.dat
*.mrc
*.mrcs
*.map 

