body { background-color: #bbbbff; }

table.top { background-color : #000000 ;
            border-color : #99ccff
          }

h2.top { color : #bbbbff;
         text-align : center
       }


table.heading { background-color : #99ccff  }

h3.heading { text-align : center }

p.explain { 
            margin-left : 10%  ;
            margin-right : 10% ;
            text-align : justify
          }
          
b.label {font-style: bold }

a.project { font-weight: normal }

code.output { color : #005000 ;
              font-weight: bold ;
            }