
/* 'project' is used to flag those batch files that should be         */
/* included in the project, for software that reads mr.html.          */
/* Links should be of the form:                                       */
/* <a class="project" href="./newprogs/refproj.spi">                  */
/* and should only be used in the step-by-step flow of batch files,   */
/* not in introductory or explanatory paragraphs. This ensures that   */
/* the desired batch files are captured once and in the correct order */

a.project { font-weight: normal }

table.top { background-color : #000000 ;
            border-color : #99ccff
          }

h2.top { color : #99ccff;
         text-align : center
       }

table.heading { background-color : #99ccff  }

h3.heading { text-align : center }

p.action { font-weight: bold }

p.explain { margin-left : 20%  ;
            margin-right : 20% ;
            text-align : justify
          }

code.output { color : #005000 ;
              font-weight: bold ;
            }

font.guitool { color : red ;
               font-weight: bold ;
             }

font.input { color:deeppink ; font-style: italic  }

font.output { color:#007000 ; font-weight: bold  }

code.snippet { font-size: 95% ;
              font-weight: bold ;
            }
ol.choice { list-style-type : lower-alpha }

ul.options { list-style-type : default }

ul.circles { list-style-type : circle }

/* text-align : center; */
/* text-decoration: underline} */

table.outs {valign : top ;
            cellspacing : 3;
            cellpadding : 3;
            }
