        
   td.res { white-space: nowrap;}
   td.com { white-space: nowrap;}

   td.opres{ font-size: large;}

   table.opl {
      font-weight    : bold;
      border-collapse: separate;
      padding-top    : 3% ;
      padding-left   : 3% ;
      border-spacing : 20 5  ;
      }

  table.imgs {
      font-weight   : bold;
      padding-left  : 20% ;
      border        : 50   ;
      border-spacing: 30 8  ;
      }

  table.bigimgs {
      font-weight   : bold;
      padding-left  : 5% ;
      border        : 50   ;
      border-spacing: 30 8  ;
      }

  table.verybigimgs {
      font-weight   : bold;
      padding-left  : 1% ;
      border        : 20   ;
      border-spacing: 20 8  ;
      }
