table.heading { background-color : #99ccff  }


table.exp { 
            border-collapse : collapse;
            background-color : tan ;
            border :  solid white ; 
            }

table.exp td {
    border: 2px solid white ;
    padding : 5px;
    }

table.exp th {
    border: 2px solid white ;
    padding : .4em;
    }

p.explain { 
            margin-left : 20%  ;
            margin-right : 20% ;
            text-align : justify
          }
