
font.function { font-family: monospace, Courier ;
                font-weight: bold
              }

font.comment { color: red ; }

font.prompt { color: brown ; }

font.output { color: blue ; }

font.string { color: green ; }


