body         { background-color: #bbbbff; }

dt.question  { font-style: italic }

h2.title     { text-align: center; }

span.indent1 { margin-left: 3ex }
span.indent2 { margin-left: 6ex }
span.indent3 { margin-left: 9ex }
span.indent4 { margin-left: 12ex }
span.indent5 { margin-left: 15ex }

span.tag     { font-family: courier;
               color: #440044 ;
             }

table.navi   { background-color : #cccccc; width=100% }

table.code   { background-color : #ffffff  }

code.type    { font-weight: bold ; font-size: large ;  }
code.small   { font-size: small ;  }

/* pre.unix { text-indent: 3em; font-family: monospace; } */

font.pyprompt { color: #0000ff }
font.tkprompt { color: #0000ff }




h2.top       { color         : #99ccff;
               text-align    : center
             }

h3.heading   { text-align    : center }

code.snippet { font-size     : 80%     ; font-weight : bold ;  }

code.output  { color         : #005000 ; font-weight : bold ;  }

font.guitool { color         : Peru ; font-weight : bold ; }

font.input   { color:deeppink   ; font-style: italic }

font.output  { color:#007000    ; font-weight: bold  }

ol.choice    { list-style-type  : lower-alpha }

ul.options   { list-style-type  : default }

ul.circles   { list-style-type  : circle }

table.top    { background-color : #000000 ;
               border-color     : #99ccff
             }

table.outs   { valign      : top ;
               cellspacing : 13   ;
               cellpadding : 13   ;
             }
	     
table.heading { background-color : #99ccff ;  }

div.explain  { margin-left   : 20%  ;
               margin-right  : 20%  ;
               text-align    : justify ;        
	     }

div.hidediv  { display : none  ; }

div.left     {
             margin-left    : 0px;
             //padding      : 5px 10px 5px 12px; 
             //font-size    : 40px;
             //font-weight  : bold;
             //font-family  : sans-serif;
             }

div.right    {
             margin-left    : 12px;
             padding        : 20px 3px 20px 8px;
             vertical-align : top;
             line-height    : 120%;
             }
	     
span.nobreak { font-size: x-small ; white-space: nowrap;}

