  
   td.opres{ font-size: large;}
      
   table.opl {
      font-weight    : bold; 
      border-collapse: separate;
      padding-top    : 4% ;
      padding-left   : 10% ;
      border-spacing : 25 5  ;
      }
 
  table.imgs {
      font-weight   : bold; 
      padding-left  : 20% ;
      border        : 50   ;
      border-spacing: 30 8  ;
      }
