p     { 
      margin-left  : 10  ;
      margin-right : 10  ;
      text-align   : justify
      }

dl    { 
      margin-left  : 10 ;
      margin-right : 10 ;
      }

table.opl {
      padding-left : 5% ;
      border       : 0  ;
      cellpadding  : 1  ;
      }

td.i {
     padding-left : 40 ;
     }
