   span.op{ font-weight: bold ; }

   table.opl {
      padding-left : 5% ;
      border       : 0  ;
      cellpadding  : 1  ;
      }
 
  table.imgs {
      padding-left : 20% ;
      border       : 29   ;
      cellpadding  : 100  ;
      }
